.map-arrow-buttons {
  z-index: 10;
  display: flex;
  gap: 5px;
  padding-bottom: 15px;
}

.switchButtons {
  background-color: #4caf50;
  color: #f5f5f5;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.switchButtons:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.switchButtons:hover:not(:disabled) {
  background-color: #45a049;
}
